@charset "UTF-8";

/* Medias queries */

@media screen and (min-width: 768px) and (max-width: 922px) {
    body {
        background-image: url("../imagens/back-tablet.jpg");
    }
    #tablet {
        display: block;
    }
    #celular {
        display: none;
    }
}
@media screen and (min-width: 922px) and (max-width: 1200px) {
    body {
        background-image: url("../imagens/back-pc.jpg");
    }
    main {
        height: 80vh;
    }
    #computador {
        display: block;
    }
    #celular {
        display: none;
    }
}
@media screen and (min-width: 1200px) {

    body {
        background-image: url("../imagens/back-pc.jpg");
    }
    main {
        height: 80vh;
    }
    #computador {
        display: block;
    }
    #celular {
        display: none;
    }
    
}

@media print {
    body {
        background-image: url('../imagens/back-print.jpg');
    }
    #celular {
        display: none;

    }
    #impressora {
        display: block;
    }
}