@charset "UTF-8";

body {
  background-image: linear-gradient(to right, #C90300, #7D0200, #5B0200)
}
main {
  background: white;
  width: 38%;
  padding: 10%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 15px 15px 15px #591412;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #C10300;
  text-decoration: underline;
  text-align: center;
  text-shadow: 1px 1px 1px #000000B3;
}
h2 {
  color: #9F0300;
}
p {
  text-align: justify;
}
  