@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('FUNDO.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
}
main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: 50%;
    width: 50%;
}
#btn {
    display: block;
    margin: 10px auto;
    border: none;
    padding: 10px 50px;
    background-color: #0fd3d3;
    border-radius: 10px;
    font-weight: bolder;
    color: white;
    transition: 0.5s;

}
#btn:hover {
    transform: scale(1.05);
    background-color: #12afaf;
}
